# Исключить виртуальное окружение
.venv/
venv/

# Исключить временные файлы и кэш
__pycache__/
*.pyc
*.pyo
*.log

# Исключить настройки IDE
.idea/
.vscode/

# Исключить файлы операционных систем
.DS_Store
Thumbs.db
